 @import url('https://fonts.googleapis.com/css2?family=Coral+Pixels&family=Indie+Flower&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lobster&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

:root{
--text:#1f1f1f;
--background: #f2f4f8;
--border: #d1d9e6;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    list-style-type: none;
}

html, body {
    width: 100%;
    overflow-x: hidden;
}

header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding:0px 70px;
    border-bottom: 1px solid var(--border);
    position: fixed;
}

.logo-container{
        display: flex;
        align-items: center;
        gap: 5px;
}

.offimood{
        font-size: 25px;
        color: var(--text-gray);
        font-weight: 600;
}

.logo{
     width: 50px;
}

.navbar,

.navbar-list{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.navbar-list{
    gap: 70px;
}

.navbar-list a{
    color: var(--text);
    font-size: 16px;
}

.navbar-list li:first-child > a{
    color: #4a90e2;
    font-weight: 600;
}

#menu-toggle,
.menu-label span {
    display: none;
}

.menu-label {
    display: flex;
    flex-direction: column;
    gap:5px;
    position: relative;
}

.menu-label span {
   height: 1.5px;
   width: 30px;
   background: black;
   transition: transform 0.3s;
}

#menu-toggle:checked ~ .menu-label span:nth-child(1) {
    position: absolute;
    top: 0;
    transform: rotate(135deg);
}

main{
 display: flex;
 align-items: center;
 flex-direction: column;
 justify-content: center;
}

#hero {
    max-width: 1200px;
    margin-top: 50px;
    padding: 70px 0px;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.hero-info{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 80%;
    
}

.hero-info h1 {
    font-size: 60px;
    font-weight: 500;
    color: var(--text-gray);
}

.hero-info p {
    font-size: 20px;
    color: var(--text-gray);
  
}

.hero-bottom {
  margin-top: 24px;
  display: flex;
  gap: 16px;
}



.btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 12px 24px;
    font-size: 16px;
    text-decoration: none;
    border-radius: 20px;
    transition: background-color 0.3s ease;
    border: 2px solid var(--text);
}

.btn-prod{
    background-color: var(--text);
    color: white;
}

.btn-info{
    background-color: transparent;
    color: var(--text-gray);
}

.hero-image{
    
    width: 500px;
    height: 500px;
    border-radius: 10px;
}
 

#hero-about{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    max-width: 850px;
} 

  #info {
    /* max-width: 1200px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 70px;
    padding: 80px;
 }

#info h2 {
    font-size: 35px;
    font-weight: 800;
 }

 .info-cards-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    gap: 20px;
    
 }

 .info-card {
    width: 400px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 2px solid var(--border);
    padding: 30px 25px;
    gap: 24px;
}

.info-card img {
    width: 60px; 
    height: 60px;
}

.info-card h3 {
    font-size: 22px;
}

.info-card p {
    text-align: center;
}

#contact {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

 .contact-flex {
  display: flex;
  justify-content: space-around;
}

#contact h2 {
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 50px;
}


.contact-container {
   flex-direction: column;  
}

 .contact-info {
   margin-bottom: 40px;
 }

 .img-contact {
  width: 500px;
  height: 475px;
  border-radius: 10px;
}

.contact-info img { 
  width: 50px;
  height: 50px;
}

.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 50px;
    margin-top: 30px;
    border-top: 1px solid var(--border);
}

.offimood{
    font-size: 20px;
    font-weight: 600;
    color: var(--text-gray);
}

.footer-text {
    font-size: 14px;
    color: var(--text-gray);
    margin-bottom: 10px;
}

.footer-links {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.footer-links img {
    width: 28px;
    height: 28px;
}
